<appSettings>
  <add key="webpages:Version" value="1.0.0.0" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="SmtpHost" value="mail.hoplunbd.com" />
  <add key="SmtpPort" value="25" />
  <add key="SmtpFromEmail" value="adp@hoplunbd.com" />
  <add key="SmtpFromEmailName" value="User Confirmation Mail" />
  <add key="SmtpFromEmailPassword" value="hop@123" />
  <add key="AdminEmail" value="hoplun.inventory@gmail.com" />
  <add key="SupportEmail" value="&quot;User Confirmation Mail&quot;&lt;hoplun.inventory@gmail.com&gt;" />
  <add key="ErrorEmail" value="hoplun.inventory123@gmail.com" />
  <add key="SiteName" value="HopLunbd.inventory.com" />
  <add key="CSharpCalendarDateFormat" value="dd/MM/yyyy" />
  <add key="JSCalendarDateFormat" value="dd/mm/yy" />
  <add key="LuceneSavedStateName" value="LuceneIndexGenerated" />
  <add key="LuceneIndexDirectory" value="LuceneIndex" />
  <add key="MaxNumberOfProductImages" value="4" />
  <add key="MaxNumberLogo" value="1" />
  <add key="UserGroupIDOfAdmin" value="1" />
  <add key="UserGroupIDOfCompanyAdmin" value="2" />
  <add key="UserGroupIDOfCompanyUser" value="3" />
  <add key="UserGroupIDOfSiteUser" value="4" />
  <add key="CurrencyCode" value="Tk" />
  <add key="AboutUs" value="7" />
  <add key="OurServices" value="9" />
  <add key="FAQ" value="10" />
  <add key="ContactUs" value="8" />
  <add key="pageSize" value="2" />
  <add key="MaxNoOfProductsCanBeCompare" value="3" />
  <add key="CrystalImageCleaner-AutoStart" value="true" />
  <add key="CrystalImageCleaner-Sleep" value="60000" />
  <add key="CrystalImageCleaner-Age" value="120000" />
</appSettings>