<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <!--<configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <hibernate-configuration configsource="hibernate.cfg.xml" />


  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=.;Initial Catalog=ERP;Integrated Security=True"/>
  </connectionStrings>-->
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <connectionStrings>
    <!--hoplun-PC\hoplun <add name="ORA" providerName="System.Data.OracleClient" connectionString="Data Source=erp;User ID=erp;Password=erp;Unicode=True" />-->
    <!--<add name="sql" connectionString="Data Source=192.168.3.250;User ID=Local;Initial Catalog=ITInventory" providerName="System.Data.SqlClient"/>-->
    <!--<add name="sql" connectionString="Data Source=192.168.3.250;Initial Catalog=ITInventory;User ID=sa;Password=hbd123@2" providerName="System.Data.SqlClient" />-->
    <!--<add name="sql" providerName="System.Data.SqlClient" connectionString="Data Source=APD;Initial Catalog=ITInventory;Integrated Security=True" />-->
    <add name="sql" connectionString="Data Source=APD;Initial Catalog=ITInventory;User ID=sa;Password=hop@321" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="sql" />
  <appSettings configSource="AppSettings.config">
    <!--<add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SupporEmail" value="hasib_aziz@yahoo.com" />-->
    <!--***** SmtpHost and SmtpPort for Gmail *********
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />-->
    <!--<add key="SmtpHost" value="mail.hoplunbd.com"/>
    <add key="SmtpPort" value="25"/>-->
    <!--<add key="SmtpFromEmail" value="btcrealestate@gmail.com" />-->
    <!--<add key="SmtpFromEmail" value="hoplun.inventory123@gmail.com" />
    <add key="SmtpFromEmailName" value="User Confirmation Mail" />
    <add key="SmtpFromEmailPassword" value="hoplun@123" />-->
    <!--<add key="SmtpFromEmail" value="adp@hoplunbd.com" />
    <add key="SmtpFromEmailName" value="User Confirmation Mail" />
    <add key="SmtpFromEmailPassword" value="hop@123" />-->
    <!--<add key="AdminEmail" value="hasib@hoplunbd.com" />
    <add key="SupportEmail" value="&quot;User Confirmation Mail&quot;&lt;hasib@hoplunbd.com&gt;" />
    -->
    <!--<add key="ErrorEmail" value="tutul.net@gmail.com" />-->
    <!--
    <add key="ErrorEmail" value="hasib@hoplunbd.com" />
    <add key="SiteName" value="10.3.12.156:802"/>-->   
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Account/Login" timeout="2880" />-->
      <forms loginUrl="~/Account/Login" protection="All" timeout="1" slidingExpiration="true" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Telerik.Web.Mvc.UI" />
        <add namespace="Mvc.Web.HtmlExtension" />
      </namespaces>
    </pages>
    <!-- Support for large file uploads -->
    <httpRuntime maxRequestLength="100000" />
    <identity impersonate="true" />
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="noreply@ottotec.com" deliveryMethod="Network">
        <network defaultCredentials="false" host="mail.ottotec.com" port="587" password="noreply123" userName="noreply@ottotec.com" enableSsl="true" />
      </smtp>
    </mailSettings>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
    </settings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--For Logout Session-->
  <system.web>
    <sessionState timeout="1" />
  </system.web>
</configuration>